<section class="tickets">
    <div class="toggle">
        <div (click)='toggle()'>Price</div>
        <div (click)='toggle()'>Time</div>
    </div>
    <div *ngFor="let results of results$ | async">
        <h1>{{results.DepStationCodeFull}} - {{results.ArrStationCodeFull}}</h1>
        <div *ngFor="let legs of results?.Legs">
            <p>
                Depature Date: {{legs.DepDate | date: 'yyyy-MM-dd' }} Depature Time: {{legs.DepTime }}
            </p>
            <ng-container *ngFor="let ticket of legs?.TKTs">
                <mat-card *ngIf='ticket?.AdtPrice && ticket?.TravelTimes'>
                    <mat-card-header>
                        <mat-card-title class="title">{{ticket.TicketDescription}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div>
                            Price: {{ticket?.AdtPrice | currency}}

                            Tavel Time: {{ticket?.TravelTimes}}
                        </div>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </div>
</section>